AppS_CreateResourceShipment_OM/SharedContextBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://AppS_CreateResourceShipment_OM">
	<xsd:complexType name="SharedContextBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="OrderHeaderKey"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="LineType"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="CorrelationID"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>